form {
    border: 1px solid gray;
    border-radius: 1%;
    padding: 5%;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    height: 27px;
    width: 65%;
    padding: 3.5% 1.5%;
}

button {
    background-color: green;
    margin-top: 4%;
    width: 100%;

}

label {
    width: 100%;
}